body {
  margin: 0;
}

/* react-simple-dropdown */
.dropdown {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #2b546a;
}

.dropdown:hover {
  color: #1c3746;
  background: #f0f4f9;
}

.dropdown__content {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.16);
  border-radius: 2px;
  color: #2b546a;
  font-size: 13px;
}

.dropdown__content > div {
  cursor: pointer;
  padding: 14px 20px;
  transition: all 0.3s ease;
}
.dropdown__content > div:hover {
  color: #1c3746;
  background: #f0f4f9;
}

.dropdown--active .dropdown__content {
  display: block;
}

/* END: react-simple-dropdown */
