body {
  margin: 0;
  color: #2d3048;
}

a {
  color: inherit;
  text-decoration: none;
}

iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
dl,
figure,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

hr {
  border: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: #2d3048;
  text-decoration: none;
  transition: color .1s linear;
}

a:hover,
a:focus {
  color: #2d3048;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:active {
  color: #00396b;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input:focus {
  outline: 0;
}

button {
  cursor: pointer;
  border: 1px solid;
}

button:focus {
  outline: 0;
}
